<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.glass.wis"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
<uses-permission android:name="android.permission.INTERNET" />
	    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_people_50"
        android:label="@string/app_name"
        android:name = "com.glass.wis.WISApp"
        android:debuggable="true">
        
        <uses-library
            android:name="com.google.android.glass"
            android:required="true" />
        <activity
            android:name="com.glass.wis.WisActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/wis_voice_trigger" />

            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />

        </activity>
    </application>

</manifest>